<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UMMAPARKSYST.Properties.Settings.Umma_ParkDBConnectionString"
            connectionString="Data Source=CyberVigilante;Initial Catalog=&quot;Umma ParkDB&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>